/**
 * User: William Steenbergen, Arne Kraaijeveld en Jesse van der Pluim
 * Date: 25-3-2024
 * File: Stylescheet.css
 */

body
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    background-image: url("../images/achtergrond.jpg");
    background-repeat: no-repeat;
    width: 100%;
}

/* Header */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
}

.logo img
{
    height: 50px;
    left: 20px;
}

nav ul
{
    list-style-type: none;
}

nav ul li
{
    display: inline;
    margin-left: 20px;
}

nav ul li a
{
    text-decoration: none;
    color: black;
}

nav ul li a:hover
{
    color: #b71234;
}

.middenknop {
    padding: 100px 20px;
    text-align: center;
    color: white;
}

.middenknop h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.middenknop p {
    font-size: 18px;
    margin-bottom: 40px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: whitesmoke;
    border: white;
}

.button2 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #b71234;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.achtergrond img
{
    width: 1102px;
    height: 588.93px;
}

#balk
{
    width: 50vw;
    height: 10vh;
    background: white;
    position: absolute;
    bottom: 12.5vh;
    left: 20vw;
}

.zwart
{
    color: black;
    position: absolute;
    left: 0px;

}

.rood
{
    color: red;
    position: absolute;
    left: 0px;
}