body
{
    font-family: Arial, sans-serif;
    margin: 0;
}

.navigation
{
    background-color: #1a4780;
    padding: 10px 0;
}

.navigation ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation ul li
{
    display: inline;
}

.navigation ul li a
{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

.navigation ul li a:hover
{
    background-color: #1761a0;
}
