/**
 
User: William Steenbergen, Arne Kraaijeveld en Jesse van der Pluim
Date: 25-3-2024
File: Stylescheet.css
*/

@font-face
{
    font-family: "Verner";
    src: url("../fonts/Verner.ttf");
}

@font-face
{
    font-family: "Ernestine";
    src: url("../fonts/ErnestineWeb Bold.ttf");
}
body
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    background-image: url("../images/achtergrond.jpg");
    background-repeat: no-repeat;
    width: 100%;
}

/* Header */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
}

.logo img {
    height: 50px;
    left: 20px;
}

nav ul {
    list-style-type: none;
    font-family: "Ernestine";
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    color: #b71234;
}

.middenknop {
    padding: 100px 20px;
    text-align: center;
    color: white;

}

.middenknop h1 {
    font-size: 36px;
    margin-bottom: 20px;
    font-family: "Verner";
}

.middenknop p {
    font-size: 18px;
    margin-bottom: 40px;
}

.button
{
    display: inline-block;
    padding: 5px 20px;
    background-color: transparent;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 5px;
    transition: color 0.3s, background-color 0.3s;
}

.button:hover
{
    border: 2px solid white;
}

.button2 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #b71234;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.achtergrond img
{
    width: 1102px;
    height: 588.93px;
}